<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    *{
    margin: 0;
    padding: 0;
    font-family: 'Athiti', sans-serif;
    box-sizing: border-box;
    }

    button.del-but{
        margin: 0px 0px;
        width: 30px;
        height: 30px;
        float: right;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
    }
    
    .board{
        width: 200px;
        height: 100px;
        background-color:#EEEEEE ;
        text-align: center;
        margin-right: 40px;
        border-radius: 10px;
        font-size: 25px;
        margin-top: 20px;
        border:1px solid  rgb(245, 158, 150);
        box-shadow: 0px 0px 16px rgb(245, 183, 177);
        transition: all 100ms ease-in-out;
    }

    .board:hover{
        transform: scale(1.12);
        width: 200px;
        height: 100px;
        background-color:#FDEDEC ;
        text-align: center;
        margin-right: 40px;
        border-radius: 10px;
    }
    li{
        float: left;
        list-style: none;
    }
    button.open{
        border-style: none;
        margin-top: -35px;
        float: left;
        width: 200px;
        height: 100px;
        background-color: rgba(138, 226, 226, 0.3);
        border-radius: 10px;
        font-size: larger;
    }
    
    button#new-board-but{
        background-color: transparent;
        border-radius: 100px;
        border-style:solid ;
        border-color: #000;
    }
    div.head{
        font-size: 2rem;
        margin-bottom: 24px;
        height: 60px;
        
    }
    body{
        margin: 0% ;
        background: rgb(246,204,199);
        background: linear-gradient(0deg, rgba(246,204,199,1) 0%, rgba(255,234,234,1) 37%, rgba(178,235,242,1) 96%);
        min-height: 100vh;
    }

    button.dropdown{
        background-color:  #D35400 ;
        width: 100px;
        height: 40px;
        float: left;
        margin: 10px;
        border-style: none;
        text-align: center;
        transition: all 0.2s ease-in;
        font-size: 20px;
        border-radius: 10px;
        text-transform: uppercase;

    }
    .dropcontent li#profile{
        display: block;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        transition: all 100ms ease-in-out;
        margin-left: 250px;
        font-size: 20px;
        
    
    }
    .dropcontent li#logout{
        display: block;
        margin-left: 370px;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        transition: all 100ms ease-in-out;
        font-size: 20px;
    }
    .dropcontent li#add-b{
        display: block;
        margin-left: 480px;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        transition: all 100ms ease-in-out;
        font-size: 20px;
        cursor: pointer;
    }
    #add-b{
        cursor: pointer;
    }
    

    #menu.show li#profile{
        position:block ;
        opacity: 1;
        transform: translate(0px );
        pointer-events:all;
        margin-top: 10px;
    }
    #menu.show li#logout{
        margin-top: 10px;
        position:block ;
        opacity: 1;
        transform: translate(0px); 
        pointer-events:all;       
    }
    #menu.show li#add-b{
        position:block ;
        opacity: 1;
        transform: translate(0px);
        pointer-events:all;
        margin-top: 10px;
        
    }
    #menu.show  button.dropdown{    
        pointer-events:all;      
    }
    li{
        list-style: none;
        float: left;
        margin-left: 10px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    button{
        outline: none;
    }
    button.dropdown{
        z-index: 2;
        width: 200px;
    }
    
    input#boardname{
        height: 30px;
    }
    @media (min-width:300px ) {
    .grid-container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto ;
        grid-gap: 10px;
        padding: 10px;
    }
    menu ul{
        background-color: #D35400;
    }
  
    }
    @media (min-width:600px ) {
        .grid-container {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: auto auto  ;
            grid-gap: 10px;
            padding: 10px;
        }
        
    }
    @media (min-width:1000px ) {
    .grid-container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto ;
        grid-gap: 10px;
        padding: 10px;
    }
    }
    @media only screen and (min-width:1200px) {
        .grid-container {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: auto auto auto auto  ;
            padding: 10px;
        }
    
    }
    
   
    @media only screen and (min-width:1600px) {
        .grid-container {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: auto auto auto auto auto auto ;
            padding: 10px;
        }
    
    }

    .tog{
        opacity: 0;
    }
    li.board:hover .tog{
        opacity: 1;
    }
    li.board:hover .inf{
        opacity: 1;
    }
    input[type="text"]{
        border:0 none ;
        background-color: transparent; 
        outline: none;
        text-align: center;
    }
    input[type="text"]:hover{
        border:1px  dashed ;
        text-align: center;
    }
    .nb{
        width: 200px;
        height: 70px;
        background-color:#EEEEEE ;
        text-align: center;
        margin-right: 40px;
        border-radius: 10px;
        font-size: 25px;
        margin-top: 20px;
        border:1px solid  rgb(245, 158, 150);
        box-shadow: 0px 0px 16px rgb(245, 183, 177);
    }
#popuptext{
    pointer-events: none;
    opacity: 0;
    margin-left: 15%;
    text-align: center;
    transition: all 0.1s ease-in-out ;
    padding: 30px 70px; 
    margin-top: -100px;
    border-radius: 30px;
   
}
#popuptext.pp{
    /* display: inline; */
    position: absolute;
    opacity: 1;
    transition: all 0.2s ease-in-out ;
    transform: translateY(70px);
    text-align: center;
    font-size: 2rem;
    background-color:rgba(252, 188, 215, 0.555);
    padding: 30px 70px;
    pointer-events: fill;
}
i.inf{
    float: right;
    opacity: 0;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 20px;
}

i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}
i.inf .tooltiptext {
  opacity: 0;
  width: 80px;
  margin-top: -10px;
  background-color:rgba(172, 56, 43, 0.514);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  font-size: 12px;  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

i.inf:hover .tooltiptext {
  opacity: 1;
  /* transform: scale(1.05); */
    transition: all 0.2s ease-in-out;
}


</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    
    $(document).ready(function(e) {   
               
        $(document).on("click","button#new-board-but",function(e) {
            e.preventDefault();
            e.stopPropagation();

            var data ={
                bname : $('form#new-board-but').children("input#boardname").val(),
                uid   : $('form#new-board-but').children("button#new-board-but").val()
            }             
                $.ajax({
                    type: 'POST',
                    url: "/board/new",
                    data: data,             // here I send the data when the button on the browser is clicked.
                    
                }).done(function( result ) {                    
                    removetext("boardname")
                    console.log( "Data Saved: " + result );
                    creatb(result,data.bname)
                }).fail(function(result){
                    console.log("Fail! " +result.data);
                });          
        });
        $(document).on("click","button.del-but",function(e) {
            console.log("niii");
            
            e.preventDefault();
            e.stopPropagation();
            var data ={
                bid : $(this).val(),
                uid : $("input#us").val()                
            } 
                $.ajax({
                    type: 'delete',
                    url: "/board/"+data.bid,
                    data: data,             // here I send the data when the button on the browser is clicked.
                    
                }).done(function( result ) {                    
                    removetext("boardname")
                    console.log( "Data Saved: " + result );
                    dell(data.bid)
                    
                }).fail(function(result){
                    console.log("Fail! " +result.data);
                });          
        });
        $(document).on("click","li.board",function(event){
            event.stopPropagation()
            var data={
                bid : $(this).children('input#bid').val()
            }          
            location.href="/todo/"+data.bid
        })   
        $(document).on("change","input#name",function(event){
            event.stopPropagation()
            
            var data={
                bid:$(this).siblings().val(),
                name:$(this).val()
            }
            // alert("io "+data.name+" id "+data.bid)
            $.ajax({
                type:"put",
                url:"/board/"+data.bid,
                data:data
            }).done(function(){
                $(this).siblings("#name").val(data.name)
            })
        });
        $(document).on("click",".popup",function(event){
            
            event.stopPropagation()
            var pop =$(this).children(".popup").val()
            // alert(pop)  
            
            var popup = document.getElementById("popuptext");
            popup.innerHTML=pop
            popup.classList.toggle("pp");
            document.getElementById("menu").classList.remove("show")
        })  

    });
    var removetext = function (input) {
        var t= document.getElementById(input)
        
        t.value = " "
    }
    function dr(){
        document.getElementById("menu").classList.toggle("show")
        var popup = document.getElementById("popuptext");
           
        popup.classList.remove("pp");
    }
    function dell(id){
        var item = document.getElementById(id)
        item.parentNode.removeChild(item);
    };
    function creatb(id,name){
        var ne = document.getElementById('boa')
        var nid = String(id)
        nid = nid.substring(1,nid.length-1)
        var child = document.createElement('li');      
        child.classList.add("board")
        child.setAttribute("id",nid)
        child.innerHTML = '<input type="hidden" id="bid" value="'+ nid+'">  <form id="board-del" class="tog"> <input type="hidden" value="<%= currentUser._id %>" id="us"> <button class="del-but" value="'+nid+'" name="bid"><i class="fa fa-times-circle-o" role="button"></i></button></form><i class="fa fa-info popup inf " aria-hidden="true"><span class="tooltiptext">show board id</span><input class="popup" type="hidden" value='+id+'></input></i><form id="board-name" ><input type="text" id="name" value= " '+name+'" onclick="event.stopPropagation()"  ><input class="esub" id="bid" type="hidden" value='+nid+'></input>';
        $('.tc:last-of-type').before(child);
       
    }
    function c(){
        alert("fukkkk")
    }
   
        
    
    
</script>

<div class="head">
    <div class ="menu" id="menu">
        <button class="dropdown" onclick="dr()"><%= user.name %></button>
        <ul id="option" class="dropcontent">
            <li id="profile"><a href="/profile/<%= user._id %>">Profile</a></li> 
            <li id="logout"><a href="/logout">Logout</a></li>
            <li id="add-b" ><a href="/invite">Add-board</a></li>
        </ul>
    </div>
   <span id="popuptext" class="p">hee</span>

</div> 

<div class="grid-container">  
    <ul id="boa" class="grid-container">
        <% board.forEach(function(bo){ %>            
            <li class="board" id="<%= bo._id %>" >
                <input type="hidden" id="bid" value="<%= bo._id %>">
                
                    
                    <form id="board-del" class="tog">
                        <input type="hidden" value="<%= currentUser._id %>" id="us">
                        <button class="del-but" value="<%= bo._id %>" name="bid"><i class="fa fa-times-circle-o" role="button"></i></button>
                    </form>
                    <i class="fa fa-info popup inf " aria-hidden="true"><span class="tooltiptext">show board id</span><input class="popup" type="hidden" value="<%= bo._id %>"></input></i>
                <form id="board-name" >                    
                    <input type="text" id="name" value="<%= bo.name %>" onclick="event.stopPropagation()"  >
                    <input class="esub" id="bid" type="hidden" value="<%= bo._id %>"></input>  
                </form>    
                                             
            </li>       
        <% }) %>
        <li class="tc nb">
            <div >
                <form  class="newcf todolist" id="new-board-but" >
                    <input id="boardname" type="text" name="bname" placeholder=" Input card name here!" required style=" border-style: dashed; " >
                    <button  name="qid" value ='<%= user._id %>'class="butt" id="new-board-but" style="margin-left: 10px;" ><i class="fa fa-plus add"></i></button>
                </form>
            </div>
        </li>
    </ul>
    
    
    

</div>

