<%- include("partials/header") %> 
   
    <% tad.forEach(function(tadd){ %>
        <div>name: <%= tadd.name %></div>
      
        <div>sub: <%= tadd.sub.subn %></div>
        <br>
        
        <%- include("top",{sub:{subn:tadd.sub.subn,subs:tadd.sub.subs}}) %>
        <form action="/new" method="post">
            <button type="submit" name = "n" value="20"></button>
        </form>
    <% }); %>
    
<%- include("partials/footer") %> 