<%- include("partials/header") %> 
<ul>
    <% tad.forEach(function(tadd){ %>
        <li>
            
        <br>
        <div class="todolist">
            <div class = "cover-img">
                <div>name: <%= tadd.name %></div>
            </div>
            <div class="content">
                <form class="add" action="/new" method="post">
                    
                    <div class="input-button">
                        <a href="/new/<%= tadd._id %> " class="add-todo">
                           <button type="submit" name= 'id' value='<%=tadd._id %>' <i class="fa fa-plus add"></i></button>
                        </a>     
                    </div>
                </form>
            </div>
        <%- include("top",{sub:tadd.sub}) %>
        </div>
        </li>
        
    <% }); %>
</ul>
    
    
<%- include("partials/footer") %> 