<%- include("partials/header") %> 
<%- include("partials/tod") %>
<h1><%= uid %></h1>
<ul> 
    <% tad.forEach(function(tadd){ %>
        <li>
            
        <br>
        <div class="todolist">
            <div class = "cover-img">
                <div>name: <%= tadd.name %></div>
            </div>
            <div class="content">
                <form class="add" action="/new/<%= uid  %>" method="post">
                    
                    <div class="input-button " >
                        <a  class="add-todo" href="/new/<%= uid %>/<%=tadd._id %>"></a>
                           <button type="submit" name='id' value='<%=tadd._id %>'><i class="fa fa-plus add"></i></button>
                        </a>     
                    </div>
                </form>
            </div>
        <%- include("top",{sub:tadd.sub,id:uid,cid:tadd._id}) %>
        </div>
    </li>
        
    <% }) %>
    <li>
        <form action="/newcard" method="post" >
            <input type="text" name="cname" >
            <button type="submit" name="uid" value ='<%= uid %>'><i class="fa fa-plus add"></i></button>
        </form>
    </li>
</ul>
    
    
<%- include("partials/footer") %>
