<%- include("partials/header") %> 
<%- include("partials/tod") %>
<style>
    body{
        
    }
    li.tc{
        float:left;
        list-style:none;
        margin-left: 30px;
    }
    .ninline{
        display: inline;
        height: 80px;
    }
    div.cover-img{
        display: inline;
    }
    i.fa-times-circle-o{
        display: none;
        font-size: 30px;
        margin-top: -20px;
        margin-right: -10px;
    }
    .tc:hover i.fa-times-circle-o{
        display:inline-block;
        
    }
   
    input#name{
        width: 200px;
        height: 40px;
        font-size: 30px;
        font-weight: bolder;
        border-style:none ;
        outline-style:none;        
    }
    image{
        height: 100%;
        width: 100%;
    }
    
</style>

<body style="background-image: url('../todobackground.jpg');background-size:100% 200%; background-repeat:no-repeat ; ">
    
 

<form action="/board/<%= currentUser._id %>" method="get" class="backbut">
    <button>< back</button>
</form>

    
    <div class="wrapper" >  
        <ul id="card-list" class="grid-container">
        <% tad.forEach(function(tadd){ %>
            <li class="tc" id="<%= tadd._id %>">            
                <div class="todolist ">
                    <div class = "cover-img">
                        <form id="card-name" class="ninline" >                    
                            <input type="text" id="name" value="<%= tadd.name %>" autocomplete="off" onclick="event.stopPropagation()"  >
                            <input class="esub" id="cid" type="hidden" value="<%= tadd._id %>"></input>  
                        </form>  
                        <form id="card-del inline" class="inline card-del">
                            <input type="hidden" value="<%= bid %>" id="us">
                            <button class="del-but" type="button" value="<%= tadd._id %>" name="cid"><i class="fa fa-times-circle-o" role="button"></i></button>
                        </form> 
                        </div>
                    <div class="content">
                        
                    </div>
                    <%- include("top",{sub:tadd.task,id:bid,cid:tadd._id}) %>
                        <form class="addtask " action="/todo/new" method="GET" >                                
                            <div class="input-button " >
                                <input type="hidden" value="<%= bid %>" id="us" name="bid">
                                <button class="butt inline" type="button" name='cid'id="new-task-but" value='<%=tadd._id %>'><i class="fa fa-plus add addtaskbut"></i></button>
                                </a>     
                            </div>
                        </form>                        
                </div>
            </li>
                    
        <% }) %>
            <li class="tc">
                <form  id="new-card"  class="newcf todolist" >
                    
                    <input type="text"  placeholder=" Input card name here!" id="card-namee" style=" border-style: dashed; " >
                    <button type="button"  value ='<%= bid %>'class="butt" id="new-card-but" style="margin-left: 10px;" ><i class="fa fa-plus add"></i></button>
                </form>
            </li>
            
        </ul>
        <div class="chat">
            <form action="/chat" method="post" class="chatin">
                <input type="text" name="text" required>
                <input type="hidden" name="bid" value="<%= bid %>">
                <input type="hidden" name="uid" value="<%= currentUser._id %>">
                <button type="submit">enter</button>
            </form>
            <div class="chatbox" id="cscroll">            
                <% chats.forEach(function(chat){ %>
                    <div class="chattext"><%= chat.postby_id.name %> : <%= chat.content %> <span class="stime"><%= chat.ddate %></span> </div>
                   
                <%}) %>
            </div>
        </div>
    </div>
    
        
</body>      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
window.onload=function(){

   
    
    $(document).ready(function(e) {   
          
           
        $(document).on("click","button#new-card-but",function(e) {
            
            e.preventDefault();
            
            var data ={
                cname : $('form#new-card').children("input#card-namee").val(),
                bid   : $('form#new-card').children("button#new-card-but").val()
            } 
                $.ajax({
                    type: 'POST',
                    url: "/todo/newcard",
                    data: data,             // here I send the data when the button on the browser is clicked.
                    
                }).done(function( result ) {                    
                    console.log( "Data Saved: " + result );
                    removetext()
                    creatc(result,data.bid,data.cname)
                }).fail(function(result){
                    console.log("Fail! " +result.data);
                });          
        });
        $(document).on("click","button.del-but",function(e) {
            e.preventDefault();
            
            var data ={
                cid : $(this).val(),
                bid : $("input#us").val() ,
              
            } 
                $.ajax({
                    type: 'delete',
                    url: "/todo/delc/"+data.cid,
                    data: data,             // here I send the data when the button on the browser is clicked.
                    
                }).done(function( result ) {                    
                  
                    console.log( "Data Saved: " + result );
                    dell(data.cid)
                    
                }).fail(function(result){
                    console.log("Fail! " +result.data);
                }); 
                
                         
        });
        $(document).on("click","button#new-task-but",function(e){
            e.preventDefault();
            var data ={
                cid : $(this).val(),
                bid : $("input#us").val() ,              
            }
            location.href="/todo/new/"+data.bid+'/'+data.cid
        })
        $(document).on("change","input#name",function(event){
                 
                    event.stopPropagation()
                    
                    var data={
                        cid:$(this).siblings().val(),
                        name:$(this).val()
                    }
                   
                    $.ajax({
                        type:"put",
                        url:"/todo/"+data.cid,
                        data:data
                    }).done(function(){
                        $(this).siblings("#name").val(data.name)
                    })
                }); 
       
        function dell(id){
            var item = document.getElementById(id)
            
            item.parentNode.removeChild(item);
        };
        function c(){
            alert("fukkkk")
        }
        function creatc(id,bid,name){

            var ne = document.getElementById("card-list")
            var tadd = new Array()
            var nid = String(id)
            nid = nid.substring(1,nid.length-1)
            var child = document.createElement('li');      
            child.classList.add("tc")
            child.setAttribute("id",nid)
            child.innerHTML = '<div class="todolist "><div class = "cover-img"><form id="card-name" class="ninline" ><input type="text" id="name" value=  "'+name+'" autocomplete="off" onclick="event.stopPropagation()" ><input class="esub" id="cid" type="hidden" value='+id+'></input></form>   <form id="card-del inline" class="inline card-del"><input type="hidden" value='+bid+' id="us"><button class="del-but" type="button" value='+id+' name="cid"><i class="fa fa-times-circle-o" role="button"></i></button></form></div><div class="content"></div><div class ="notComp "><h3>Todo</h3><ul id="scroll"class="task-list" > </ul></div><form class="addtask " ><div class="input-button " ><a  class="add-todo" href="/new/'+bid+'/'+id+'></a><button class="butt  inline"  name='+id+'id="new-task-but" value='+id+'><i class="fa fa-plus add addtaskbut"></i></button></a></div></form> </div> </div>';
            $('.tc:last-of-type').before(child)          
        }
        var removetext = function () {
            var t= document.getElementById("card-namee")       
            t.value = " "
        }
        
    });
}
    
    
    
</script>

    
    
<%- include("partials/footer") %>
