<style>
    *{
    margin: 0;
    padding: 0;
    font-family: 'Athiti', sans-serif;
    }
    body{
    background-color: antiquewhite;
    }
    h1{
    margin: 20px;

    }
    .loginBox{
        width: 350px;
        height: 420px;
        background: rgba(0,0,0,0.5);
        color: #ffffff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px;

    }
    .logo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px)

}
    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;

}

    .loginBox p{
        margin: 0;
        padding: 0;
        font-weight: bold;

}

    .loginBox input{
        width: 100%;
        margin-bottom: 20px;

    }
        
    .back button{
        border: none;
        width: 100px;
        height: 30px;
        margin-top: 5px;
        margin: 20px;
        background:  #3498DB;
        color: #ffffff;
        font-size: 15px;
        border-radius: 20px;

    }

    #name,#email{
        font-size: 20px;
            
    }
    span#att{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
           
    }
    input{
        border-style: none;
        background-color: transparent;
       
    }
    input[type="text"], input[type="email"]{
        border-bottom: 1px solid #ffffff;
        margin-top: 20px;
        color:#F5F5F5;
    }
    
        
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(e){
        var uid = $("#uid").val()

        $("#name,#email").change(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            
                var data ={
                    name : $("#name").val(),
                    email: $("#email").val()
                }
               
                $.ajax({
                    type:"put",
                    url:"/edit/"+uid,
                    data:data,
                    
                }).done(function(result){
                    $("#name").val(data.name),
                    $("#email").val(data.email)                     
                }) 
             
        });
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    })
</script>


<form action="/board/<%= currentUser._id %>" method="get" class="back">
    <button>back</button>
</form>
<!-- <div id="name"><span id="att">name</span> : <%= currentUser.name %></div> -->
<div class="loginBox" >
    <img src="../logo-1.png" class="logo">
        <h1>Profile</h1>
    
        <form>
            <input type="hidden" id="uid" value="<%= currentUser._id %>">
            <span id="att">name </span><input type="text" id="name" value="<%= currentUser.name %>" "> 

        </form>

<!-- <div id="email"><span id="att">email</span> : <%= currentUser.email %></div> -->
        <form>
            <span id="att">email </span><input type="email" id="email" value="<%= currentUser.email %>">  
        </form>
        
</div>    

