<%-include("partials/header")%>
<%-include("partials/showtaskStyle")%>
<body style="background-image: url('/shbg.jpg');background-size:100% 100%; background-repeat:no-repeat ;">
    

<div class="newTask_Box">
    
    
    <form action="/todo/edit/<%= uid %>/<%= cid %>/<%= tid %>?_method=PUT" method="POST">
        <a href="/todo/<%= uid %>" class="back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
         </a>
        <p>Task</p>
        <input type="text" name="name" value="<%= task.tname %>" placeholder="Task Name">
        <p>Due Date</p>
        <input type="date" name="date" value="<%= task.tdate %>" >
        <p>Description</p>
        <textarea rows = "5" class="des" cols = "60" name = "des" >
            <%= task.tdes %>
          
        </textarea>
       
        <p>Priority</p>
        <input type="color" name="prio" value="<%= task.tprio %>">
        <input type="submit" name="submit" value="DONE">
        <input type="hidden" name="id" value="<%= uid %>">
        
    </form>
</div>
</body>