<%- include("partials/header") %>
<%- include("partials/tod") %>    
        <div class ="notComp ">
            <h3>Todo</h3>
                <ul >
                    <% sub.forEach(function(subb){ %>
                        <form action="/todo/show/<%= id %>/<%= cid %>/<%= subb._id %>" method="POST">
                            <div class="task">
                            
                                <span>
                                    <form action="/todo/del/<%= id %>/<%= cid %>/<%= subb._id %>" method="POST"><span><%= subb.tname %> </span>
                                        <button class="butt"><i class="fa fa-trash" role="button" inputmode="submit"></i></button>    
                                
                                    </form>
                                </span>   
                                <form action="/todo/del/<%= id %>/<%= cid %>/<%= subb._id %>" method="POST">
                                    
                                    <i class="fa fa-check"></i>
                                </form> 
                            </div>
                        </form>
                        
                        
                    <%})%>
                
                </ul>   
        </div>
    
<%- include("partials/footer") %> 
<script>
   
</script>