<%- include("partials/header") %>
<%- include("partials/tod") %>   
<style>
.prio{  
    position: inherit;  
    margin-top: 25px;
    margin-bottom: -8px; 
    margin-left: -8px;  
    width: 112px;
    height: 8px;
    border-radius: 16px;
}

</style> 
        <div class ="notComp ">
            <h3>Todo</h3>
                <ul >
                    <% sub.forEach(function(subb){ %>

                            <div class="task">
                            
                                <div>
                                    <div>
                                        <form class="innline" action="/todo/show/<%= id %>/<%= cid %>/<%= subb._id %>" method="get">
                                            <button class="butt"><span class="<%= subb.tiscom %>"><%= subb.tname %> </span></button>                                        
                                        </form>
                                        
                                        
                                        <form class="inline" action="/todo/del/<%= id %>/<%= cid %>/<%= subb._id %>?_method=DELETE" method="POST">
                                        <button class="butt"><i class="fa fa-trash" role="button" inputmode="submit"></i></button>    
                                
                                        </form> 
                                        <form class="inline" action="/todo/comp/<%= id %>/<%= cid %>/<%= subb._id %>?_method=PUT" method="post">
                                            
                                            <button class="butt"><i class="fa fa-check" role="button" ></i></button>
                                             <input type="hidden" name="iscom" value="com">                                          
                                        </form> 
                                    </div>
                                    
                                </div>   
                               <div class="prio" style="background-color:<%= subb.tprio %>"></div>
                            </div>
                        
                        
                        
                    <%})%>
                
                </ul>   
        </div>
    
<%- include("partials/footer") %> 
<script>
   
</script>